<div class="container">
    <h2 id="lesson-plan-details-title"></h2>
    <div class="row">
        <div class="col-md-8">
            <p><strong>Turma(s):</strong> <span id="lesson-plan-details-classes"></span></p>
            <p><strong>Data da Aula:</strong> <span id="lesson-plan-details-date"></span></p>
            <hr>
            <h4>Objetivos da Aula</h4>
            <div id="lesson-plan-details-objectives"></div>
            <hr>
            <h4>Metodologia/Atividades</h4>
            <div id="lesson-plan-details-methodology"></div>
            <hr>
            <h4>Recursos Necessários</h4>
            <p id="lesson-plan-details-resources"></p>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Materiais de Apoio</h3>
                </div>
                <ul id="lesson-plan-details-materials" class="list-group">
                    <!-- Attached materials will be listed here -->
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Avaliações Vinculadas</h3>
                </div>
                <ul id="lesson-plan-details-evaluations" class="list-group">
                    <!-- Linked evaluations will be listed here -->
                </ul>
            </div>
        </div>
    </div>
    <a href="#/lesson-plans" class="btn btn-default">Voltar</a>
</div>
