<div class="container">
    <div class="page-header">
        <h1>Configurações</h1>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Notificações</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="enableSoundNotification">
                            Habilitar som para notificações
                        </label>
                    </div>
                    <p class="help-block">As configurações são salvas automaticamente ao serem alteradas.</p>
                </form>
            </div>
        </div>
    </div>
</div>
